In [2]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.utils.dataframe import dataframe_to_rows

# Managing multiple sheets

In [2]:
#read excel files and sheets 
df_1 = pd.read_excel('input_files/shifts.xlsx', sheet_name = 'Sheet')
df_2 = pd.read_excel('input_files/shifts.xlsx', sheet_name = 'Sheet1') 
df_3 = pd.read_excel('input_files/shift_3.xlsx')

In [3]:
#concatenate all files
df_all = pd.concat([df_1, df_2, df_3], sort=False)
print(df_all)

    Shift Region Sales Rep  Product  Cost per  Units Sold
0       1  South    Meggan    Paper        15         163
1       1  South    Charis  Stapler        25         108
2       1  South    Shayne   Pencil         5         118
3       1  North   Krystin      Pen        10          37
4       1  South       Leo    Paper        15         131
..    ...    ...       ...      ...       ...         ...
94      3  South     Willa      Pen        10          42
95      3   West    Shayne    Paper        15         168
96      3   East    Adrian   Binder        30         132
97      3   East     Willa    Paper        15         111
98      3   East     Diann   Folder        17         151

[298 rows x 6 columns]

In [4]:
print(df_all.loc[50])

    Shift Region Sales Rep Product  Cost per  Units Sold
50      1  South  Shirlene  Binder        30         176
50      2  North   Jenifer  Pencil         5          62
50      3   West    Conrad  Folder        17          51

In [5]:
print(df_all.groupby(['Shift']).mean()['Units Sold'])

Shift
1    114.767677
2    112.460000
3    109.343434
Name: Units Sold, dtype: float64

In [6]:
# save in one file
to_excel = df_all.to_excel('output_files/all_shifts.xlsx' , index=None)

In [7]:
# open the file with openpyxl
wb = load_workbook('output_files/all_shifts.xlsx')
ws = wb.active

In [8]:
total_col = ws['G1']
total_col.font = Font(bold=True)
total_col.value = 'Total'

In [10]:
e_col, f_col = ['E', 'F']
for row in range (2, 300):
    result_cell = 'G{}'.format(row)
    e_value = ws[e_col + str(row)].value
    f_value = ws[f_col + str(row)].value
    ws[result_cell] = e_value * f_value

In [11]:
wb.save('output_files/totaled.xlsx')

# Converting data