In [2]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.utils.dataframe import dataframe_to_rows

# Managing multiple sheets

In [3]:
#read excel files and sheets 
df_1 = pd.read_excel('input_files/shifts.xlsx', sheet_name = 'Sheet')
df_2 = pd.read_excel('input_files/shifts.xlsx', sheet_name = 'Sheet1') 
df_3 = pd.read_excel('input_files/shift_3.xlsx')

In [4]:
#concatenate all files
df_all = pd.concat([df_1, df_2, df_3], sort=False)
print(df_all)

    Shift Region Sales Rep  Product  Cost per  Units Sold
0       1  South    Meggan    Paper        15         163
1       1  South    Charis  Stapler        25         108
2       1  South    Shayne   Pencil         5         118
3       1  North   Krystin      Pen        10          37
4       1  South       Leo    Paper        15         131
..    ...    ...       ...      ...       ...         ...
94      3  South     Willa      Pen        10          42
95      3   West    Shayne    Paper        15         168
96      3   East    Adrian   Binder        30         132
97      3   East     Willa    Paper        15         111
98      3   East     Diann   Folder        17         151

[298 rows x 6 columns]

In [5]:
print(df_all.loc[50])

    Shift Region Sales Rep Product  Cost per  Units Sold
50      1  South  Shirlene  Binder        30         176
50      2  North   Jenifer  Pencil         5          62
50      3   West    Conrad  Folder        17          51

In [6]:
print(df_all.groupby(['Shift']).mean()['Units Sold'])

Shift
1    114.767677
2    112.460000
3    109.343434
Name: Units Sold, dtype: float64

In [7]:
# save in one file
to_excel = df_all.to_excel('output_files/all_shifts.xlsx' , index=None)

In [8]:
# open the file with openpyxl
wb = load_workbook('output_files/all_shifts.xlsx')
ws = wb.active

In [9]:
total_col = ws['G1']
total_col.font = Font(bold=True)
total_col.value = 'Total'

In [10]:
e_col, f_col = ['E', 'F']
for row in range (2, 300):
    result_cell = 'G{}'.format(row)
    e_value = ws[e_col + str(row)].value
    f_value = ws[f_col + str(row)].value
    ws[result_cell] = e_value * f_value

In [11]:
wb.save('output_files/totaled.xlsx')

# Converting data

In [16]:
wb_4convert = load_workbook('input_files/regions.xlsx')
ws_4convert = wb_4convert.active
df_4convert = pd.read_excel('output_files/all_shifts.xlsx')

In [19]:
df1 = df_4convert[['Sales Rep', 'Cost per', 'Units Sold']]
df1['Total'] = df1['Cost per'] * df1['Units Sold']
print(df1)

    Sales Rep  Cost per  Units Sold  Total
0      Meggan        15         163   2445
1      Charis        25         108   2700
2      Shayne         5         118    590
3     Krystin        10          37    370
4         Leo        15         131   1965
..        ...       ...         ...    ...
293     Willa        10          42    420
294    Shayne        15         168   2520
295    Adrian        30         132   3960
296     Willa        15         111   1665
297     Diann        17         151   2567

[298 rows x 4 columns]

<ipython-input-19-e174d42469df>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total'] = df1['Cost per'] * df1['Units Sold']

In [25]:
rows = dataframe_to_rows(df1, index=False)

In [26]:
for row in rows:
    print(row)

['Sales Rep', 'Cost per', 'Units Sold', 'Total']
['Meggan', 15, 163, 2445]
['Charis', 25, 108, 2700]
['Shayne', 5, 118, 590]
['Krystin', 10, 37, 370]
['Leo', 15, 131, 1965]
['Krystin', 25, 112, 2800]
['Estelle', 25, 129, 3225]
['Delpha', 10, 100, 1000]
['Ami', 25, 139, 3475]
['Cristen', 10, 144, 1440]
['Shayne', 17, 97, 1649]
['Shelli', 10, 196, 1960]
['Deandra', 10, 73, 730]
['Estelle', 15, 109, 1635]
['Jesusita', 30, 175, 5250]
['Delpha', 15, 75, 1125]
['Claudine', 10, 131, 1310]
['Martha', 10, 49, 490]
['Natashia', 30, 158, 4740]
['Jimmy', 5, 167, 835]
['Nolan', 25, 56, 1400]
['Winter', 30, 132, 3960]
['Jenifer', 30, 84, 2520]
['Caleb', 30, 44, 1320]
['Nolan', 10, 168, 1680]
['Winter', 15, 22, 330]
['Natashia', 15, 77, 1155]
['Deandra', 5, 135, 675]
['Shelli', 10, 38, 380]
['Nisha', 25, 129, 3225]
['Adrian', 5, 111, 555]
['Caleb', 17, 37, 629]
['Kelvin', 15, 76, 1140]
['Keitha', 15, 90, 1350]
['Jenifer', 30, 164, 4920]
['Dorthea', 10, 85, 850]
['Lola', 15, 48, 720]
['Tyree', 5, 120, 600]
['Nola', 10, 42, 420]
['Damion', 15, 175, 2625]
['Chaya', 25, 43, 1075]
['Jimmy', 17, 152, 2584]
['Nisha', 30, 136, 4080]
['Deandra', 25, 172, 4300]
['Lola', 30, 153, 4590]
['Estelle', 17, 45, 765]
['Delpha', 25, 92, 2300]
['Betsy', 30, 98, 2940]
['Shayne', 5, 110, 550]
['Chaya', 25, 61, 1525]
['Shirlene', 30, 176, 5280]
['Dina', 17, 183, 3111]
['Von', 17, 134, 2278]
['Kelvin', 30, 162, 4860]
['Dorthea', 30, 191, 5730]
['Lisbeth', 10, 170, 1700]
['Raye', 25, 116, 2900]
['Nisha', 17, 195, 3315]
['Delpha', 17, 198, 3366]
['Keitha', 15, 66, 990]
['Krystin', 5, 27, 135]
['Deandra', 25, 153, 3825]
['Jesusita', 25, 154, 3850]
['Claudine', 5, 177, 885]
['Charis', 10, 137, 1370]
['Shelli', 25, 110, 2750]
['Willette', 5, 30, 150]
['Jimmy', 17, 193, 3281]
['Estelle', 17, 176, 2992]
['Damion', 10, 55, 550]
['Takisha', 15, 106, 1590]
['Shirlene', 10, 132, 1320]
['Caleb', 15, 120, 1800]
['Keitha', 15, 107, 1605]
['Kaci', 25, 176, 4400]
['Tyree', 15, 197, 2955]
['Deandra', 17, 81, 1377]
['Cristen', 30, 182, 5460]
['Willa', 15, 200, 3000]
['Kaci', 25, 82, 2050]
['Lisbeth', 15, 116, 1740]
['Ami', 15, 74, 1110]
['Leo', 17, 58, 986]
['Betsy', 25, 187, 4675]
['Chaya', 5, 59, 295]
['Winter', 10, 184, 1840]
['Caleb', 17, 27, 459]
['Takisha', 5, 145, 725]
['Natashia', 30, 53, 1590]
['Shayne', 15, 20, 300]
['Deandra', 17, 28, 476]
['Diann', 10, 63, 630]
['Lashon', 10, 191, 1910]
['Martha', 25, 73, 1825]
['Diann', 30, 46, 1380]
['Cordell', 30, 91, 2730]
['Jesusita', 30, 200, 6000]
['Dina', 15, 166, 2490]
['Jenifer', 17, 89, 1513]
['Shelli', 5, 157, 785]
['Tyree', 10, 83, 830]
['Conrad', 17, 180, 3060]
['Caleb', 30, 186, 5580]
['Willette', 10, 117, 1170]
['Damion', 10, 125, 1250]
['Estelle', 17, 140, 2380]
['Cristen', 15, 160, 2400]
['Ami', 25, 131, 3275]
['Cordell', 10, 108, 1080]
['Nisha', 25, 138, 3450]
['Keitha', 30, 51, 1530]
['Jammie', 10, 180, 1800]
['Chaya', 10, 102, 1020]
['Damion', 25, 58, 1450]
['Diann', 5, 87, 435]
['Krystin', 30, 49, 1470]
['Charis', 17, 50, 850]
['Takisha', 15, 63, 945]
['Lola', 17, 151, 2567]
['Nisha', 25, 66, 1650]
['Kaci', 5, 28, 140]
['Keitha', 17, 131, 2227]
['Tyree', 25, 186, 4650]
['Shelli', 5, 56, 280]
['Nolan', 15, 42, 630]
['Caleb', 30, 114, 3420]
['Betsy', 15, 186, 2790]
['Estelle', 15, 129, 1935]
['Damion', 5, 139, 695]
['Lisbeth', 17, 112, 1904]
['Nolan', 5, 83, 415]
['Chaya', 25, 153, 3825]
['Nisha', 25, 109, 2725]
['Cristen', 17, 156, 2652]
['Meggan', 25, 48, 1200]
['Tyree', 10, 162, 1620]
['Dina', 10, 61, 610]
['Kaci', 15, 141, 2115]
['Delpha', 25, 82, 2050]
['Lisbeth', 17, 110, 1870]
['Lola', 5, 52, 260]
['Anderson', 10, 93, 930]
['Raye', 10, 151, 1510]
['Nola', 5, 98, 490]
['Shayne', 15, 148, 2220]
['Winter', 15, 124, 1860]
['Damion', 10, 122, 1220]
['Jimmy', 17, 146, 2482]
['Takisha', 17, 43, 731]
['Jenifer', 5, 62, 310]
['Deandra', 10, 115, 1150]
['Jammie', 17, 129, 2193]
['Shayne', 10, 87, 870]
['Anderson', 5, 182, 910]
['Caleb', 17, 104, 1768]
['Ami', 25, 153, 3825]
['Nolan', 17, 200, 3400]
['Jammie', 25, 194, 4850]
['Jesusita', 10, 163, 1630]
['Willa', 15, 193, 2895]
['Keitha', 25, 181, 4525]
['Willette', 30, 57, 1710]
['Nisha', 25, 125, 3125]
['Jimmy', 15, 21, 315]
['Cristen', 30, 185, 5550]
['Natashia', 5, 48, 240]
['Racquel', 30, 101, 3030]
['Natashia', 15, 170, 2550]
['Nola', 25, 42, 1050]
['Kelvin', 25, 90, 2250]
['Takisha', 5, 169, 845]
['Nisha', 25, 139, 3475]
['Anderson', 17, 132, 2244]
['Damion', 5, 112, 560]
['Jesusita', 10, 126, 1260]
['Jimmy', 10, 145, 1450]
['Lola', 17, 143, 2431]
['Jammie', 25, 46, 1150]
['Lashon', 17, 144, 2448]
['Caleb', 17, 152, 2584]
['Raye', 17, 81, 1377]
['Adrian', 10, 63, 630]
['Keitha', 17, 103, 1751]
['Martha', 10, 44, 440]
['Tyree', 25, 141, 3525]
['Meggan', 15, 59, 885]
['Jesusita', 25, 62, 1550]
['Charis', 17, 163, 2771]
['Jammie', 17, 21, 357]
['Shayne', 15, 108, 1620]
['Diann', 17, 36, 612]
['Cristen', 30, 116, 3480]
['Adrian', 17, 42, 714]
['Anderson', 30, 187, 5610]
['Jesusita', 17, 82, 1394]
['Betsy', 25, 173, 4325]
['Lisbeth', 15, 74, 1110]
['Jesusita', 5, 137, 685]
['Racquel', 17, 57, 969]
['Shirlene', 5, 71, 355]
['Anderson', 17, 69, 1173]
['Shelli', 17, 185, 3145]
['Damion', 30, 159, 4770]
['Shirlene', 25, 41, 1025]
['Dina', 30, 115, 3450]
['Jenifer', 25, 32, 800]
['Deandra', 10, 135, 1350]
['Takisha', 17, 135, 2295]
['Carolann', 25, 165, 4125]
['Cordell', 30, 33, 990]
['Shirlene', 17, 191, 3247]
['Meggan', 25, 140, 3500]
['Natashia', 15, 116, 1740]
['Charis', 5, 135, 675]
['Kaci', 17, 86, 1462]
['Cordell', 25, 196, 4900]
['Ami', 10, 67, 670]
['Carolann', 5, 28, 140]
['Nola', 25, 165, 4125]
['Nisha', 30, 20, 600]
['Conrad', 30, 53, 1590]
['Estelle', 30, 177, 5310]
['Raye', 5, 195, 975]
['Betsy', 5, 174, 870]
['Diann', 5, 132, 660]
['Meggan', 5, 191, 955]
['Charis', 17, 97, 1649]
['Willette', 30, 33, 990]
['Cordell', 25, 182, 4550]
['Mozell', 25, 32, 800]
['Cordell', 30, 20, 600]
['Shayne', 5, 53, 265]
['Von', 25, 76, 1900]
['Lola', 17, 67, 1139]
['Kelvin', 15, 158, 2370]
['Dorthea', 17, 80, 1360]
['Von', 17, 47, 799]
['Lashon', 25, 182, 4550]
['Dina', 10, 59, 590]
['Anderson', 10, 138, 1380]
['Willette', 17, 89, 1513]
['Nisha', 25, 156, 3900]
['Jammie', 30, 99, 2970]
['Tyree', 30, 65, 1950]
['Keitha', 5, 154, 770]
['Jesusita', 10, 59, 590]
['Cristen', 17, 154, 2618]
['Kaci', 30, 31, 930]
['Jimmy', 5, 176, 880]
['Conrad', 17, 51, 867]
['Krystin', 15, 102, 1530]
['Nola', 25, 38, 950]
['Keitha', 30, 170, 5100]
['Racquel', 10, 87, 870]
['Tyree', 10, 82, 820]
['Carolann', 17, 103, 1751]
['Delpha', 30, 52, 1560]
['Cristen', 5, 106, 530]
['Cristen', 25, 46, 1150]
['Raye', 25, 72, 1800]
['Von', 10, 176, 1760]
['Dorthea', 5, 125, 625]
['Jesusita', 15, 93, 1395]
['Betsy', 17, 168, 2856]
['Raye', 5, 184, 920]
['Keitha', 15, 30, 450]
['Delpha', 15, 96, 1440]
['Damion', 17, 182, 3094]
['Lashon', 25, 115, 2875]
['Odilia', 25, 200, 5000]
['Raye', 10, 87, 870]
['Claudine', 30, 103, 3090]
['Kaci', 25, 119, 2975]
['Ami', 17, 185, 3145]
['Kaci', 10, 88, 880]
['Carolann', 17, 146, 2482]
['Natashia', 5, 49, 245]
['Cordell', 15, 102, 1530]
['Kelvin', 10, 101, 1010]
['Lola', 10, 185, 1850]
['Jenifer', 5, 186, 930]
['Adrian', 30, 142, 4260]
['Keitha', 10, 135, 1350]
['Jimmy', 25, 190, 4750]
['Shelli', 10, 112, 1120]
['Diann', 5, 56, 280]
['Deandra', 10, 78, 780]
['Winter', 17, 94, 1598]
['Estelle', 17, 39, 663]
['Racquel', 5, 86, 430]
['Martha', 17, 92, 1564]
['Racquel', 17, 72, 1224]
['Estelle', 10, 83, 830]
['Willa', 10, 42, 420]
['Shayne', 15, 168, 2520]
['Adrian', 30, 132, 3960]
['Willa', 15, 111, 1665]
['Diann', 17, 151, 2567]

In [29]:
for r_idx, row in enumerate(rows, 1):
    for c_ids, col in enumerate(row, 6):
        ws_4convert.cell(row=r_idx, column=c_idx, value=col)

In [30]:
wb_4convert.save('output_files/combain.xlsx')